{% extends "base.html" %}

{% load static %}

{% block title %}
  Custom Lander Creator
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu"
           class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              {% url 'custom_lander_creator:home' as home_url %}
              <a class="nav-link {% if request.path == home_url %}active{% endif %}"
                 aria-current="page"
                 href="{{ home_url }}">
                <i class="fas fa-tachometer-alt"></i> Dashboard
              </a>
            </li>
            <li class="nav-item">
              {% url 'custom_lander_creator:create_github_repo' as github_creator %}
              <a class="nav-link {% if request.path == github_creator %}active{% endif %}"
                 href="{{ github_creator }}">
                <i class="fab fa-github"></i> Create Github Repo
              </a>
            </li>
            <li class="nav-item">
              {% url 'custom_lander_creator:options' as options_url %}
              <a class="nav-link {% if request.path == options_url %}active{% endif %}"
                 href="{{ options_url }}">
                <i class="fas fa-cogs"></i> Options
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row">
          <div class="col-sm-12">
            <h2>Custom Lander Creator App</h2>
          </div>
        </div>
        {% block inner_content %}
          <!-- Page specific content goes here -->
        {% endblock inner_content %}
      </main>
    </div>
  </div>
{% endblock content %}
