{% extends "google_indexer/google_indexer_base.html" %}

{% block title %}
  {% if form.instance.pk %}
    Edit Project
  {% else %}
    Create Project
  {% endif %}
{% endblock title %}
{% block inner_content %}
  <div class="container">
    <h1>
      {% if form.instance.pk %}
        Edit Project
      {% else %}
        Create Project
      {% endif %}
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
          Update
        {% else %}
          Create
        {% endif %}
      </button>
    </form>
  </div>
{% endblock inner_content %}
