{% extends "base.html" %}

{% block title %}
  Custom Lander Creator Dash
{% endblock title %}
{% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
             alt="GitHub Logo"
             class="img-thumbnail" />
        {% if messages %}
          {% for message in messages %}
            <h2>
              <div>{{ message }}</div>
            </h2>
          {% endfor %}
          <div>One Last Step</div>
          <div>Please install the GitHub app to the user or organizations you want us to have access to</div>
          <a class="btn btn-primary mt-3"
             href="https://github.com/apps/custom-lander-creator">Install App</a>
        {% else %}
          <h2>Waiting for authentication result...</h2>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'custom_lander_creator:options' %}"
             class="btn btn-primary mt-4">Back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
