{% extends "custom_lander_creator/custom_lander_creator_base.html" %}

{% block title %}
  Custom Lander Creator Dash
{% endblock title %}
{% block additional_css %}
  <style>
    .netlify-btn {
      background-color: #3DE6E2;
      border-color: #3DE6E2;
    }

    .check-icon {
      color: green;
    }
  </style>
{% endblock additional_css %}
{% block inner_content %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- First card -->
      <div class="col">
        <div class="card">
          <div class="card-body d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiHIcv29dwCTi1xUzgHqy3xKwJ-7BzBncl5Q&s"
                 alt="Netlify Logo"
                 height="24"
                 class="mb-2" />
            <p class="mb-2">Netlify</p>
            {% if netlify_token_exists %}
              <button class="btn btn-light" disabled>
                <i class="fas fa-check-circle check-icon"></i> Connected to Netlify
              </button>
              <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete_netlify_token" class="btn btn-danger">Delete Connection</button>
              </form>
            {% else %}
              <a href="{{ auth_link }}"
                 target="_blank"
                 class="btn btn-primary netlify-btn">Connect To Netlify</a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- GitHub card -->
      <div class="col">
        <div class="card">
          <div class="card-body d-flex flex-column align-items-center">
            <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
                 alt="Github Logo"
                 height="24"
                 class="mb-2" />
            <a href="https://www.loom.com/share/63cd766f7fdb4baba2b11ac286800977">how to connect to github</a>
            <p class="mb-2">Github</p>
            {% if github_token_exists %}
              <button class="btn btn-light" disabled>
                <i class="fas fa-check-circle check-icon"></i> Connected to Github
              </button>
              <form method="post">
                {% csrf_token %}
                <button type="submit" name="delete_github_token" class="btn btn-danger">Delete Connection</button>
              </form>
            {% else %}
              <a href="{{ github_auth_link }}"
                 target="_blank"
                 class="btn btn-primary netlify-btn">Connect To Github</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock inner_content %}
